.container{
    margin-top: 20px;
    margin-left: 20px;
}

.loader {
    z-index: 2;
    width: 90px;
    height: 90px;
    will-change: transform;
    transition-property: transform;
    animation-name: rotate;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
