.radio {
    display: flex;
    flex-direction: column;
    gap: 22px;

}

.radio::before {

}


.radio:checked::before {
}

.label {
    display: flex;
    align-items: center;
    gap: 32px;
}

.options {
}
